.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.button-circle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.imagew100 {
  width: 100%;
}

.heading_hotdeal {
  display: block;
  position: relative;
}

.dropdown-toggle:after {
  content: none;
}

.nav-item {
  margin-right: 10px;
  padding: 6px 10px 6px 10px;
}

.header-dropdown {
  width: 1000px;
  padding: 20px 20px 20px 20px;
}

.header-dropdown li {
  display: block;
  position: relative;
  float: left;
  width: 33%;
}

.header-dropdown li a {
  font-weight: bold;
}

.nav-item .nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  padding: 0 !important;
}

.nav-item:hover {
  background: #3963a9;
}

.heading_hotdeal div.h2 {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 15px;
  color: #3963a9;
}

.title-head {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #363636;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 17px;
  margin-top: 9px;
}

.heading_hotdeal:before {
  content: "";
  background: url(../img/flag1.png);
  position: absolute;
  width: 52px;
  height: 30px;
  top: 0px;
  left: 32.3%;

}

.heading_hotdeal:after {
  content: "";
  background: url(../img/flag1.png);
  position: absolute;
  width: 52px;
  height: 30px;
  top: 0px;
  right: 32.3%;
  transform: rotate(180deg);
}

.boxaccordion {
  display: none;
}

.service_item_ed {
  height: 110px;
  padding: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service_item_ed .iconx {
  display: inline-block;
  width: 65px;
  float: left;
}

.service_item_ed .content_srv {
  width: calc(100% - 65px);
  -o-width: calc(100% - 65px);
  -moz-width: calc(100% - 65px);
  -webkit-width: calc(100% - 65px);
  display: inline-block;
  float: left;
  margin-left: 15px;
}

.service_item_ed .content_srv .title_service {
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #3963a9;
}

.service_item_ed .content_srv .sum_service {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
  color: #888888;
}

.color_main {
  color: #f26522;
}

@media only screen and (max-width: 1200px) {
  .heading_hotdeal:before {
    left: 30.3%;
  }

  .heading_hotdeal:after {
    right: 30.3%;
  }
}

@media only screen and (max-width: 1000px) {
  .heading_hotdeal:before {
    left: 15.3%;

  }

  .heading_hotdeal:after {
    right: 15.3%;
  }
}


@media only screen and (max-width: 991px) {
  .dropdown-top {
    display: none;
  }

  .boxaccordion {
    display: block;
  }

  .navbar-nav li {
    border-bottom: 1px solid white;
  }

  .navbar-nav li:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 600px) {
  .heading_hotdeal:before {
    left: 7.3%;
  }

  .heading_hotdeal:after {
    right: 7.3%;
  }
}

.containerwidth {
  width: 100%;
}

.toggle {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
  padding: 0 !important
}

.content ul {
  list-style: none;
  color: white !important;
  padding: 0 !important;
  text-transform: none;
}

.content ul li {
  border-bottom: 1px solid white;
}

.content ul li:last-child {
  border-bottom: none;
}


.content {
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.sign_up {
  justify-content: center;
}

.sign_up input {
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.sign_up p {
  padding: 0;
  color: black;
  font-size: 14px;
}

.title_top_menu {
  margin-bottom: 15px;
  background-color: #6599cd;
  border-radius: 10px;
}

.title_top_menu h2 {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  padding: 10px 28px 10px 28px;
  font-size: 17px;
  line-height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.footer-text {
  padding-top: 10px;
}

#form-contact {
  margin-bottom: 20px;
  margin-top: 20px;
}

#form-contact input {
  margin-bottom: 15px;
  font-size: 14px;
}

.icon-top a {
  background-color: #6599cd;
  color: white;
}

.icon-top a:hover {
  background-color: #3b71ca;
  color: white;
}

.user-info {
  list-style: none;
  border: 1px solid #6599cd;
  margin-top: -22px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.header-bg {
  background-color: #f5f5f5 !important;
}

.float-center {
  display: flex;
  align-items: center;
  background-color: white;
}

.search {
  border-radius: 25px;
}

.from-search {
  border: 0px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0;
  height: 40px;
  padding: 0px 25px 0 20px;
  font-size: 13px;
  max-width: 100%;
  display: block;
  outline: none;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.button-search {
  background: #3963a9;
  color: #fff;
  font-size: 14px;
  width: 45px;
  height: 40px !important;
  padding: 0px;
  text-transform: uppercase;
  border-radius: 50% !important;
  margin-left: 0px;
  padding-top: 0px !important
}

.button-chat {
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #5658d1;
  box-shadow: 1px 2px 4px grey;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-chat:hover {
  cursor: pointer;
}

.button-chat i {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-chat-2 {
  position: fixed;
  bottom: 92px;
  right: 32px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #9c9ca3;
  box-shadow: 1px 2px 4px grey;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-chat-2:hover {
  cursor: pointer;
}

.button-chat-2 a {
  width: 45%;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-bar {
  display: block;
  background-color: #6599cd;
  padding: 20px;
  border-radius: 15px;
  margin-left: 20px;
}

.product-card {
  border-radius: 15px;
  padding: 35px 10px 20px 10px;
  height: 700px;
}

.scrollit {
  overflow: scroll;
  height: 100px;
}

table.tableSection {
  display: table;
  width: 100%;
  margin-top: 20px;
}

table.tableSection thead,
table.tableSection tbody {
  width: 100%;
}

table.tableSection thead {
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: calc(100% - 16px);
  /* assuming scrollbar width as 16px */
}

table.tableSection tfoot {
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: calc(100% - 16px)
    /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
  overflow: auto;
  height: 220px;
  display: block;
}

table.tableSection tr {
  width: 100%;
  text-align: left;
  display: table;
  table-layout: fixed;
}


@media only screen and (max-width: 1200px) {
  .heading_hotdeal:before {
    left: 30.3%;
  }


  .heading_hotdeal:after {
    right: 30.3%;
  }

  .col-lg-6 {
    width: 50%;
  }
}

@media only screen and (max-width: 1600px) {
  .product-bar {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .heading_hotdeal:before {
    left: 15.3%;

  }

  .heading_hotdeal:after {
    right: 15.3%;
  }

  .hidden-lg {
    display: none !important;
  }
}


@media only screen and (max-width: 991px) {
  .dropdown-top {
    display: none;
  }

  .boxaccordion {
    display: block;
  }

  .product-card {
    border: none;
    padding: 0;
    height: auto;
  }

  .navbar-nav li {
    border-bottom: 1px solid white;
  }

  .navbar-nav li:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 768px) {
  .header-media {
    display: none !important;
  }
}


@media only screen and (max-width: 600px) {
  .heading_hotdeal:before {
    left: 7.3%;
  }

  .heading_hotdeal:after {
    right: 7.3%;
  }
}

.containerwidth {
  width: 100%;
}

.displayFlexCenter {
  display: flex;
  align-items: center;
}

.header-right {
  position: relative;
  float: right;
}

.hotline_dathang {
  display: flex;
  width: 230px;
  float: left;
  padding: 15px 0;
  align-items: center;
}

.icon_hotline {
  color: #fff;
  background-color: #f26522;
  width: 65px;
  height: 40px !important;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  float: left;
  border: 2px solid #f26522;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_hotline {
  line-height: 17px;
  margin-top: 4px;
}

.content_hotline p {
  margin: 0;
}

.f-right {
  display: flex;
  align-items: center;
}

.mini-cart-center {
  display: flex;
  align-items: center;
}

.cart_header {
  display: contents;
}

.content_cart_header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.icon_cart {
  color: #fff;
  background-color: #c6e1af;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .topbar_left {
  font-size: 14px;
  color: #6599cd;
}

.topbar .topbar_left li {
  font-size: 14px;
  display: inline-block;
}

.topbar .topbar_left li:first-child {
  margin-right: 5px;
}

.topbar .topbar_right {
  font-size: 13px;
}

.a-right {
  text-align: right !important;
}

.d-list>div:first-child {
  margin: 0;
}

.f-right {
  float: right !important;
}

ul {
  list-style: none outside;
}

.displayFlex ul,
ol {
  margin: 0;
  padding: 0;
}

.topbar {
  padding-top: 10px;
  background-color: #f5f5f5 !important;
  margin-bottom: -25px;
}

.topbar .topbar_right li.login_content {
  float: left;
  position: relative;
}

.topbar .topbar_right li {
  font-size: 14px;
}

.topbar .topbar_right li a {
  color: #6599cd;
  font-size: 14px;
  margin: 0 0 0 20px;
}

.topbar .topbar_right li a .fa {
  margin-right: 3px;
}

.topbar .topbar_right li.login_content ul {
  position: absolute;
  top: 35px;
  right: -88px;
  min-width: 240px;
  border: 1px solid #efefef;
  background: #fff;
  margin: 0;
  padding: 8px 10px;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
  z-index: 999;
  border-radius: 3px;
  display: none;
}

.displayFlex {
  display: flex;
}

.banner-left {
  height: 500px;
  border: 1px solid gray;
  margin-bottom: 20px;
}


.card-img-top {
  border: 1px solid gray;
}

.card-product {
  width: 20%;
}

.sidebar-product-detail .list-group-item:hover {
  color: var(--mdb-list-group-active-color);
  background-color: var(--mdb-list-group-active-bg);
  border-color: var(--mdb-list-group-active-border-color);
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.drop-button::after {
  content: '';
}

.drop-sidebar {
  position: relative;
  display: inline-block;
}

.drop-sidebar:hover #sidebar-hidden {
  display: block;
}

#sidebar-hidden {
  position: absolute;
  height: auto;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
}

.slider-item col {
  padding: 0px;
}

.slider-item-main-item {
  height: 350px;
}

.slider-item-sub-item-1,
.slider-item-sub-item-2 {
  height: 175px;
}

.slider-item-sub-item-1 img {
  height: 100%;
}

.slider-item-sub-item {
  padding: 0 !important;
}

.slider-item-sub-item-2 img {
  height: 100%;
}

.slide-left {
  padding: 0 !important;
}


aside {
  margin-top: 10%;
  height: 50%;
  
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu li {
  list-style: none;
}

#menu a {
  text-decoration: none;
}

#content {
  float: right;
  width: 80%;
  background-color: red;
}

#menu {
  width: 100%;
  float: left;
}

.cl-menu li {
  position: relative;
  padding: 10px;
}

.cl-menu>li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #6599cd;
}


.cl-menu li .slide-drop-right {
  display: flex;
  min-width: 850px;
  z-index: 10;
  font-size: 12px;
  background-color: #f5f5f5 !important;
  border-radius: 15px;
}

.cl-menu li:hover a {
  color: white;
}

.cl-menu li ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  z-index: 10;
}

.cl-menu li:hover>ul {
  display: block;
  
}

.cl-menu li ul li:last-child {
  border-bottom: none;
}

.btn-product {
  background-color: #006cd9;
}